{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}

<div class="passward-container">
    <div class="card forgot-password-card p-4 w-100" style="max-width: 400px;">
        <h2 class="text-center mb-4">Reset Password</h2>
       
        <p class="text-center text-muted mb-4">Enter the pasword</p>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <center><p style="color: firebrick;">{{message}}</p></center>
                    {% else %}
                        <center><p style="color: dodgerblue;">{{message}}</p></center>
                    {% endif %}
                {% endfor %}
            {% endif %}
                <label for="email" class="form-label">Passward</label>
                <input type="password" name="password" class="form-control" id="email" placeholder="Enter your password" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Confirm password</label>
                <input type="password" name="confirm_password" class="form-control" id="email" placeholder="Enter your confirm password" required>
            </div>
            <button type="submit" class="btn btn-proceed w-100">Reset Password</button>
        </form>
        
    </div>
</div>
{% endblock %}